[Unit]
Description=HMI server systemd service.
After=gpsd.socket

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/
User=ubuntu
ExecStart=/bin/bash /home/ubuntu/hmi/script/autorun_hmi_server.sh
Environment="PYTHONPATH=$PYTHONPATH:/home/ubuntu/.local/lib/python3.8/site-packages"

[Install]
WantedBy=multi-user.target
