<launch>
  <node pkg="communication" type="server.py" name="hmi_server" output="log" respawn="true"/>
  <node pkg="bluetooth" type="client.py" name="bluetooth_client" output="log" respawn="true"/>
  <node pkg="marionet" type="publisher.py" name="marionet_client" output="log" respawn="true"/>
</launch>
