<launch>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="frame_id" default="/velodyne"/>
    <arg name="child_frame_id" default="/os_sensor"/>
    <arg name="ms" default="10"/>

    <node pkg="tf" type="static_transform_publisher" name="velodyne_to_os1_sensor" args="$(arg x) $(arg y) $(arg z) $(arg yaw) $(arg pitch) $(arg roll) $(arg frame_id) $(arg child_frame_id) $(arg ms)" />

</launch>

